/* Mobile first apraoch */
header {
  width: 360px;
}

header p {
  font-size: 10px;
  /* line 9 should not be overwritten, therefore is missing in same css rules inside media queries */
  font-weight: bold;
  width: 200px;
}

@media (min-width: 768px) {
  header {
    width: 600px;
  }

  header p {
    font-size: 12px;
    width: 300px;
  }
}

@media (min-width: 992px) {
  header {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  header {
    width: 1100px;
  }
}
